.wrap {
	display: flex;
	align-items: center;
	position: relative;
	background-color: $notifi-background;
	padding: 2rem;
	border-radius: $notifi-border-radius;
	color: $white;
	font-weight: 300;
	font-size: 1.6rem;
	line-height: 1.4;
	margin-top: 1rem;

	a {
		color: $white;
		font-weight: 500;
		display: inline;
		text-decoration: underline;
	}

	.icon {
		margin-right: 2rem;
	}

	&.error {
		background-color: $notifi-error-background;
	}

	&.info {
		background-color: $notifi-info-background;
	}

	.close {
		position: absolute;
		right: 0;
		top: 0;
		cursor: pointer;
		padding: 5px;
	}
}
