.wrap {
	position: relative;
	width: 20rem;
	height: 20rem;
	overflow: hidden;
	border: 3px solid $orange;
	border-radius: 50%;
	background: $black;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	margin: 6rem auto 0;

	video {
		position: absolute;
		height: 100%;
		top: 0;
		left: 50%;
		transform: translateX(-50%) scale(-1, 1);
	}

	canvas {
		position: absolute;
		z-index: -1;
		opacity: 0;
	}

	span {
		z-index: 1;
		font-size: 6rem;
		color: $white;
		font-weight: 700;
		text-shadow: -1px 0 #666, 0 1px #666, 1px 0 #666, 0 -1px #666;
	}
}
