.wrap {
	display: flex;
	align-items: center;
	position: relative;
	font-weight: 300;
	font-size: 1.6rem;
	line-height: 1.4;

	a {
		font-weight: 500;
		display: inline;
		text-decoration: underline;
	}

	.close {
		position: absolute;
		top: 0;
		right: 0;
		padding: 5px;
		margin: -.618em -1em 0 0;
		cursor: pointer;
	}
}
