.device {
	padding: .2rem 1rem;
	display: block;
	transition: background-color .2s;
	font-size: 1.6rem;
	font-weight: 400;

	&:hover,
	&.active {
		background-color: $dark-gray;
		color: $white;
	}
}
